.facets
    max-width 300px
    float left

    .im-column-summary
        width 300px

        dl
            dt
                font-size 2em


    .im-item-table
        max-height 500px
        overflow-y auto

.resultstable
    float left

